body{
    background-color: black;
}
section{
    height:90vh;
}
h1{
    position:absolute;
    top:35%;
    left:30%;
    color:whitesmoke;
    font-size: 5em;
    letter-spacing: 0.2em;
}
h1 span{
    display:inline-block;
    opacity:0 ;
    animation: animate 1s linear forwards;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100%{
        opacity: 1;
        transform: rotateY(0deg); 
        filter:blur(0px);
    }
}
video{
    object-fit: cover;
    margin-left: 10px;
}
h1 span:nth-child(1){
    animation-delay: 1s;
}
h1 span:nth-child(2){
    animation-delay: 2s;
}
h1 span:nth-child(3){
    animation-delay: 2.5s;
}
h1 span:nth-child(4){
    animation-delay: 3s;
}
h1 span:nth-child(5){
    animation-delay: 3.5s;
}